/* Things not working:
- links reacting
- movement of text over images (perhaps just disable?)

*/

@font-face {
  font-family: Codec;
  src: url('Codec-Warm-Bold-trial.ttf');
}

body {
  background-color: #F7F7F7 !important;
}

a {
  text-decoration:none;
}

a:hover {
  color:red;
}

ul.nav.nav-pills {
    text-align: right;
    float:right;
}

#nav-button {
  padding-top: 10px !important;
  background-color: transparent !important;
}

.page-header {
  border-bottom:0px !important;
}
 #title1 {
  font-family: "Codec", serif;
  color: #000;
  font-size: 50px;
  float:left;
  margin:0;
  padding:1em;
  top:1.5em;
  left:-3em;
  width:auto;
  position:absolute;
/* Safari */
-webkit-transform: rotate(-90deg);

/* Firefox */
-moz-transform: rotate(-90deg);

/* IE */
-ms-transform: rotate(-90deg);

/* Opera */
-o-transform: rotate(-90deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#title2 {
  font-family: "Codec", Lucida Console, Lucida, sans-serif;
  color: #000;
  font-size: 50px;
  margin:0;
  width:auto;
  left:1em;
  top:20px;
  position:absolute;
}

#nav-button {
  float:right;
  padding-right: 3%;
  padding-top: 0;
}

.glyphicon.glyphicon-align-justify {
  font-size:21px;
}

.building {
  max-width: 100%;
  height: auto;
  display: block;
  padding: 0px;
  position:relative;
}

#buildings {
  position:relative;
  z-index:-20;
}

.container {
  padding-left:50px !important;
  padding-right:50px !important;
  padding-bottom: 50px !important;
}

#boydorr {
  padding-left:50px;
  position:relative;
}

#boydorrinfo {
  text-align: left;
  line-height: 1em;
}

#infobox {
  top: 36em;
  left:3.5em;
  right: 0;
  position:absolute;
  float:left;
  padding:0;
  text-align: left;
}

#dundasvale {
  padding-top:5px;
}

.building-title {
  font-family: "Codec", Lucida Console, Lucida, sans-serif;
  font-size:4vw;
  color: #212121;
  line-height: 1em;
}

#info {
  top: 6.3em;
  left:0;
  right: 0;
  position:absolute;
}



footer {
  text-align: center;
}
